.option-search,.option-table-result{
    >span{
        font-size: large;
    }
    display: flex;
    flex-direction: column;
    gap: 10px;

    .ground-checkbox-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
       
    }
}